{%- render 'section-spacing-collapsing' -%}

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
CSS
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
<style>
  {%- assign block_size = section.settings.block_size -%}

  #shopify-section-{{ section.id }} .image-link-blocks {
    --image-link-blocks-item-width: {% if block_size == 'small' %}32vw{% elsif block_size == 'medium' %}38vw{% else %}48vw{% endif %};
    --image-link-blocks-grid: auto / auto-flow var(--image-link-blocks-item-width);

    --content-over-media-gap: var(--grid-gutter);
  }
  
 @media screen and (max-width: 700px) {
   #shopify-section-{{ section.id }} .image-link-blocks {
      --image-link-blocks-item-width: 55vw;
    }
    #shopify-section-{{ section.id }}.cust-image-link-blocks .section-stack {
      gap: {% if block_size == 'small' %}40px{% elsif block_size == 'medium' %}40px{% else %}32px{% endif %};
    }
 }
  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} .image-link-blocks {
      --image-link-blocks-item-width: {% if block_size == 'small' %}28vw{% elsif block_size == 'medium' %}16vw{% else %}20vw{% endif %};
    }
   #shopify-section-{{ section.id }}.cust-image-link-blocks image-link-blocks {
      --grid-gutter: {% if block_size == 'small' %}40px{% elsif block_size == 'medium' %}40px{% else %}60px{% endif %};
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} .image-link-blocks {
      --image-link-blocks-items-per-row: {% if block_size == 'small' %}6{% elsif block_size == 'medium' %}5{% else %}4{% endif %};
      --image-link-blocks-grid: auto / auto-flow calc(var(--container-inner-width) / var(--image-link-blocks-items-per-row) - (var(--grid-gutter) / var(--image-link-blocks-items-per-row) * (var(--image-link-blocks-items-per-row) - 1)));
    }
  }

  @media screen and (min-width: 1400px) {
    #shopify-section-{{ section.id }} .image-link-blocks {
      --image-link-blocks-items-per-row: {% if block_size == 'small' %}7{% elsif block_size == 'medium' %}5{% else %}4{% endif %};
    }
  }
</style>

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
LIQUID
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<div {% render 'section-properties' %} id="{{ section.settings.target_section }}">
    <div class="section-stack">
      <div class="cust-section-header header-text-{{ section.settings.text_alignment }}">
      {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, heading_color: section.settings.heading_color, heading_gradient: section.settings.heading_gradient, content: section.settings.content-%}
      </div>
      <div class="floating-controls-container">
        {%- assign scroll_area_id = 'scroll-area-' | append: section.id -%}
  
        <image-link-blocks id="{{ scroll_area_id }}" class="image-link-blocks scroll-area bleed md:unbleed text-{{ section.settings.text_alignment }} {% if section.blocks.size < 6 %}justify-center{% endif %}">
          {%- for block in section.blocks -%}
            {%- liquid
              assign loading_strategy = nil
    
              if section.index > 3 or forloop.index > 3
                assign loading_strategy = 'lazy'
              endif
            -%}
  
            <div {% render 'surface', class: 'image-link-blocks__item group rounded' %, text_color: block.settings.text_color %} {{ block.shopify_attributes }}>
              {%- if block.settings.stretch_image -%}
                {%- capture item_content -%}
                  {%- if block.settings.image != blank -%}
                    {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: loading_strategy, sizes: '(max-width: 699px) 160px, 285px', widths: '200,300,400,500,600,700,800,900,1000,1200', class: 'zoom-image' -}}
                  {%- else -%}
                    {{- 'image' | placeholder_svg_tag: 'zoom-image placeholder' -}}
                  {%- endif -%}
                {%- endcapture -%}
  
                <a {% if block.settings.image_link!=blank %} href="{{ block.settings.image_link }}"{% endif %}  class="content-over-media rounded" style="--content-over-media-overlay: {{ block.settings.overlay_color.rgb }} / {{ block.settings.overlay_opacity | divided_by: 100.0 }}; background-color: {{ block.settings.image_background }};">
                  {{- item_content -}}
                </a>
              {%- else -%}
                <a class="image-link-blocks__inner">
                  {%- if block.settings.image != blank -%}
                    {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: loading_strategy, sizes: '(max-width: 699px) 160px, 285px', widths: '200,300,400,500,600,700,800,900,1000,1200', class: 'image-link-blocks__image zoom-image' -}}
                  {%- else -%}
                    {{- 'image' | placeholder_svg_tag: 'image-link-blocks__image placeholder' -}}
                  {%- endif -%}
                </a>
              {%- endif -%}
              <h3 class="cilb-item-heading text-{{ block.settings.text_alignment }}">{{ block.settings.heading }}</h3>
              <div class="cilb-item-description text-{{ block.settings.text_alignment }}">{{ block.settings.description }}</div>
            </div>
          {%- endfor -%}
        </image-link-blocks>

      <button is="prev-button" class="circle-button circle-button--fill border group" aria-controls="{{ scroll_area_id }}" disabled>
        <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
        <span class="animated-arrow animated-arrow--reverse"></span>
      </button>

      <button is="next-button" class="circle-button circle-button--fill border group" aria-controls="{{ scroll_area_id }}">
        <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
        <span class="animated-arrow"></span>
      </button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cust image link blocks",
  "class": "shopify-section--image-link-blocks cust-image-link-blocks",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "blocks": [
    {
      "type": "item",
      "name": "Link block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 1400px .jpg recommended"
        },
        {
          "type": "checkbox",
          "id": "stretch_image",
          "label": "Stretch to fill",
          "default": true
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
            "type": "url",
            "id": "image_link",
            "label": "Image link"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Colors",
          "info": "Overlay is ignored when \"Stretch to fill\" is disabled."
        },
        {
          "type": "color",
          "id": "image_background",
          "label": "Image background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#1C1C1E"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 0
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "target_section",
      "label": "Sticky section id"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "select",
      "id": "block_size",
      "label": "Block size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
        "type": "select",
        "id": "text_alignment",
        "label": "Heading text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    }
  ],
  "presets": [
    {
      "name": "Cust image link blocks",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}