{%- render 'section-spacing-collapsing', block_margin_collapsing: true -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.full_width -%}
      --section-spacing-block: 0;
    {%- endif -%}

    --content-over-media-content-max-width: 330px;
    --content-over-media-overlay: {{ section.settings.overlay_color.rgb }} / {{ section.settings.overlay_opacity | divided_by: 100.0 }};
  }

  #shopify-section-{{ section.id }} .content-over-media {
    overflow: visible; /* allows dot to show outside */
  }

  {%- if section.settings.full_width -%}
    @media screen and (min-width: 1000px) {
      #shopify-section-{{ section.id }} {
        --section-spacing-block: 0;
      }
  {% for block in section.blocks %}
         #shopify-section-{{ section.id }}.cust-product-feature-1 .cpfo-item .cpfo-item-step__num {
          display: flex;
        justify-content: {{ block.settings.text_alignment }};
    }
      {% endfor %}}
    }
  {%- endif -%}

  {% for block in section.blocks %}
    #shopify-section-{{ section.id }} .text-{{ block.settings.text_alignment }} {
      text-align: {{ block.settings.text_alignment }};
    }


    #shopify-section-{{ section.id }} .mobile-text-{{ block.settings.mobile_text_alignment }} {
      text-align: {{ block.settings.mobile_text_alignment }};
    }
  {%endfor %}

  #shopify-section-{{ section.id }} .only-mobile .cpfo-item-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }

  #shopify-section-{{ section.id }} .only-mobile .cpfo-item-heading {
    cursor: pointer;
  }

  #shopify-section-{{ section.id }} .only-mobile .cpfo-item-heading.active svg {
    transform: rotate(180deg);
  }

  #shopify-section-{{ section.id }} .only-mobile .cpfo-item-heading svg {
    transition: transform 0.3s ease;
  }
</style>

<div {% render 'section-properties' %} id="{{ section.settings.target_section }}">
  <div class="section-stack">
    <div class="section-header only-mobile">
      <div class="prose">
        {%- if section.settings.subheading != blank -%}
          <span class="cpfo-head__subheading">{{ section.settings.subheading | escape }}</span>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <h2 class="cpfo-head__heading h2">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
      </div>
    </div>

    {%- capture surface_class -%}content-over-media {% if section.settings.full_width %}full-bleed{% else %}shadow-block-bak rounded-lg{% endif %}{%- endcapture -%}

    <div
      {% render 'surface',
        class: surface_class,
        background_gradient: section.settings.image_background_gradient,
        background: section.settings.image_background,
        text_color: section.settings.overlay_text_color
      %}
    >
      {%- if section.settings.image != blank -%}
        <picture>
          {%- if section.settings.mobile_image != blank -%}
            <source
              media="(max-width: 699px)"
              srcset="{{ section.settings.mobile_image | image_url: width: 400 }} 400w, {{ section.settings.mobile_image | image_url: width: 600 }} 600w, {{ section.settings.mobile_image | image_url: width: 800 }} 800w, {{ section.settings.mobile_image | image_url: width: 1000 }} 1000w, {{ section.settings.mobile_image | image_url: width: 1200 }} 1200w"
              width="{{ section.settings.mobile_image.width }}"
              height="{{ section.settings.mobile_image.height }}"
            >
          {%- endif -%}

          {{-
            section.settings.image
            | image_url: width: section.settings.image.width
            | image_tag:
              sizes: '100vw'
          -}}
        </picture>
      {%- else -%}
        {{-
          'lifestyle-2'
          | placeholder_svg_tag: 'placeholder'
          | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"'
        -}}
      {%- endif -%}

      {%- if section.settings.title != blank or section.settings.subheading != blank -%}
        <div class="cpfo-headding only-desktop">
          <div class="prose">
            {%- if section.settings.subheading != blank -%}
              <span class="cpfo-head__subheading">{{ section.settings.subheading | escape }}</span>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
              <h2 class="cpfo-head__heading h2">{{ section.settings.title | escape }}</h2>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}

      <div class="cpfo-item only-desktop">
        {%- for block in section.blocks -%}
          <div class="cpfo-item-inner text-{{ block.settings.text_alignment }}">
            <div class="cpfo-item-step__num">
            <span class="cpfo-item-step__number">{{ block.settings.step_number | default: '1' }}</span>
            </div>
            {%- if block.settings.heading != blank -%}
              <span class="cpfo-item-heading">{{ block.settings.heading }}</span>
            {%- endif -%}

            {%- if block.settings.content != blank -%}
              <p class="cpfo-item-content">{{ block.settings.content }}</p>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>

    <div class="cpfo-item only-mobile">
      {%- for block in section.blocks -%}
        <div class="cpfo-item-inner">
           <div class="cpfo-item-step__num">
            <span class="cpfo-item-step__number">{{ block.settings.step_number | default: '1' }}</span>
          </div>

          <div class="cpfo-item-right-content mobile-text-{{ block.settings.mobile_text_alignment }}">
            {%- if block.settings.heading != blank -%}
              <div class="cpfo-item-heading">
                <span>{{ block.settings.heading }}</span>

              {% comment %}
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                  <g clip-path="url(#clip0_12001_13297)">
                    <path d="M1 0.999999L7 7L13 1" stroke="#C7E0FF" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_12001_13297">
                      <rect width="14" height="8" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              {% endcomment %}
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                  <g clip-path="url(#clip0_21123_6239)">
                    <path d="M1 0.999999L7 7L13 1" stroke="#1C1C1E" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_21123_6239">
                      <rect width="14" height="8" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </div>
            {%- endif -%}

            {%- if block.settings.content != blank -%}
              <p class="cpfo-item-content">{{ block.settings.content }}</p>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cust product feature 1",
  "class": "shopify-section--hot-spots cust-product-feature-1",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "target_section",
      "label": "Sticky section id"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "2500 x 1200px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image",
      "info": "1500 x 1900px .jpg recommended. Default to desktop image."
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Image",
      "info": "Background is only visible for transparent images, such as PNG."
    },
    {
      "type": "color",
      "id": "overlay_text_color",
      "label": "Text",
      "default": "#1C1C1E"
    },
    {
      "type": "color",
      "id": "image_background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "image_background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Product description item",
      "settings": [
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Desktop item text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "step_number",
          "label": "Step number"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Product Feature"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content",
          "default": "Input the description for this step."
        },
                {
          "type": "select",
          "id": "mobile_text_alignment",
          "label": "Mobile item text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cust product feature 1",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
