{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>

  {% assign short_id = section.id | slice: -3, 3 %}

  @keyframes slpProgressBar {
    0% { width: 0; }
    100% { width: 100%; }
  }

  

  {%- capture sp_content -%} 

  {% if section.settings.override_fonts %}
      {{ section.settings.text_font | font_face }}
      {{ section.settings.headline_font | font_face }}
  {% endif %}

  #spro-{{ section.id }} p {
      {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.text_size }}px;
      {% endif %}
      {% if section.settings.override_fonts %}
      font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
      font-weight: {{ section.settings.text_font.weight }};
      {% endif %}
      {% if section.settings.text_line_height != 'inherit' %}line-height: {{ section.settings.text_line_height }};{% endif %}
      margin: 0 0 {{ section.settings.element_spacing }}px 0;
      padding: 0;
      {% if section.settings.override_text_colors %}
      color: {{ section.settings.text_color }};
      {% endif %}
  }

  #spro-{{ section.id }} div.spro-richtext {
    margin: 0 0 {{ section.settings.element_spacing }}px 0;
  }

  #spro-{{ section.id }} ul, #spro-{{ section.id }} ol {
    margin: 0 0 {{ section.settings.element_spacing }}px 0;
  }

  #spro-{{ section.id }} li {
    {% if section.settings.override_text_sizes %}
    font-size: {{ section.settings.text_size }}px;
    {% endif %}
    {% if section.settings.override_fonts %}
    font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
    font-weight: {{ section.settings.text_font.weight }};
    {% endif %}
    {% if section.settings.text_line_height != 'inherit' %}line-height: {{ section.settings.text_line_height }};{% endif %}
    margin: 0 0 5px 0;
    padding: 0;
    {% if section.settings.override_text_colors %}
    color: {{ section.settings.text_color }};
    {% endif %}
  }

  #spro-{{ section.id }} li:last-child {
    margin: 0;
  }

  #spro-{{ section.id }} p a,
  #spro-{{ section.id }} p a:visited
  #spro-{{ section.id }} li a,
  #spro-{{ section.id }} li a:visited {
    {% if section.settings.override_text_colors %}
    color: {{ section.settings.link_color }};
    {% endif %}
  }

  @media (max-width: 767px) {
      #spro-{{ section.id }} p,
      #spro-{{ section.id }} li {
        {% if section.settings.override_text_sizes %}
        font-size: {{ section.settings.mobile_text_size }}px;
        {% endif %}
      }
  }

  #spro-{{ section.id }} h1,
  #spro-{{ section.id }} h2,
  #spro-{{ section.id }} h3,
  #spro-{{ section.id }} h4,
  #spro-{{ section.id }} h5 {
      {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.headline_size }}px;
      {% endif %}
      {% if section.settings.override_fonts %}
      font-family: {{ section.settings.headline_font.family }}, {{ section.settings.headline_font.fallback_families }};
      font-weight: {{ section.settings.headline_font.weight }};
      {% endif %}
      {% if section.settings.headline_line_height != 'inherit' %}line-height: {{ section.settings.headline_line_height }};{% endif %}
      margin: 0 0 {{ section.settings.element_spacing }}px 0;
      padding: 0;
      {% if section.settings.override_text_colors %}
      color: {{ section.settings.text_color }};
      {% endif %}
  }

  @media (max-width: 767px) {
      #spro-{{ section.id }} h1,
      #spro-{{ section.id }} h2,
      #spro-{{ section.id }} h3,
      #spro-{{ section.id }} h4,
      #spro-{{ section.id }} h5 {
        {% if section.settings.override_text_sizes %}
          font-size: {{ section.settings.mobile_headline_size }}px;
        {% endif %}
      }
  }

  #spro-{{ section.id }} h2 {
    {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.headline_size | minus:5  | at_least:13 }}px;
    {% endif %}
  }

  #spro-{{ section.id }} h3 {
    {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.headline_size | minus:10 | at_least:13 }}px;
    {% endif %}
  }

  #spro-{{ section.id }} h4 {
    {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.headline_size | minus:15 | at_least:13 }}px;
    {% endif %}
  }

  #spro-{{ section.id }} h5 {
    {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.headline_size | minus:20 | at_least:13 }}px;
    {% endif %}
  }

  @media (max-width: 767px) {
      #spro-{{ section.id }} h2 {
        {% if section.settings.override_text_sizes %}
          font-size: {{ section.settings.mobile_headline_size | minus:5 | at_least:13 }}px;
        {% endif %}
      }

      #spro-{{ section.id }} h3 {
        {% if section.settings.override_text_sizes %}
          font-size: {{ section.settings.mobile_headline_size | minus:10 | at_least:13 }}px;
        {% endif %}
      }

      #spro-{{ section.id }} h4 {
        {% if section.settings.override_text_sizes %}
        font-size: {{ section.settings.mobile_headline_size | minus:15 | at_least:13 }}px;
      {% endif %}
      }

      #spro-{{ section.id }} h5 {
        {% if section.settings.override_text_sizes %}
          font-size: {{ section.settings.mobile_headline_size | minus:20 | at_least:13 }}px;
        {% endif %}
      }
  }

  #spro-{{ section.id }} {
      background-image: {{ section.settings.section_background_color }};
      {% if section.settings.section_background_image %}
          background: {% if section.settings.section_background_image_color %}{{ section.settings.section_background_image_color }}{%endif%} url({{ section.settings.section_background_image | image_url }});
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          background-size: {{ section.settings.section_background_size }};
      {% endif %}
      width: 100%;
      box-sizing: border-box;
      padding: {{ section.settings.section_padding_top_bottom }}px {{ section.settings.section_padding_left_right }}px;
      overflow: hidden;
  }

  {% if section.settings.mobile_section_background_image %}
  @media (max-width: 767px) {
    #spro-{{ section.id }} {
          background: {% if section.settings.mobile_section_background_image_color %}{{ section.settings.mobile_section_background_image_color }}{%endif%} url({{ section.settings.mobile_section_background_image | image_url }});
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          background-size: {{ section.settings.mobile_section_background_size }};
    }
  }
  {% endif %}

  @media (max-width: 767px) {
      #spro-{{ section.id }} {
        padding: {{ section.settings.mobile_section_padding_top_bottom }}px {{ section.settings.mobile_section_padding_left_right }}px;
      }
  }

  {% if section.settings.show_on_device == 'mobile' %}
    @media (min-width: 768px) {
        #spro-{{ section.id }} {
            display: none;
        }
    }
  {% endif %}

  {% if section.settings.show_on_device == 'desktop' %}
    @media (max-width: 767px) {
        #spro-{{ section.id }} {
            display: none;
        }
    }
  {% endif %}

  #spro-{{ section.id }} .spro-container {
      position: relative;
      margin: 0 auto;
      background-image: {{ section.settings.container_background_color }};
      border-radius: {{ section.settings.container_radius }}px;
      {% if section.settings.container_shadow %}box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);{% endif %}
      border: {{ section.settings.container_border_size }}px solid {{ section.settings.container_border_color }};
      max-width: {{ section.settings.container_max_width }}px;
      padding: {{ section.settings.container_padding_top_bottom }}px {{ section.settings.container_padding_left_right }}px;
  }

  @media (max-width: 767px) {
      #spro-{{ section.id }} .spro-container {
      padding: {{ section.settings.mobile_container_padding_top_bottom }}px {{ section.settings.mobile_container_padding_left_right }}px;
      }
  }


  #spro-{{ section.id }} .spro-headline * {
    text-align: {{ section.settings.text_alignment }};
  }

  @media only screen and (max-width: 800px) {
    #spro-{{ section.id }} .spro-headline * {
      text-align: {{ section.settings.mobile_text_alignment }};
    }
  }

  #spro-{{ section.id }} .spro-headline {
    margin: 0;
    padding: 0 0 {{ section.settings.headline_spacing }}px 0;
  }

  #spro-{{ section.id }} .spro-container .spro-grid {
    display: grid;
    gap: {{ section.settings.grid_gap}}px;
    position: relative;
    z-index: 2;
    {% if section.settings.card_uniform_height == false %}
      align-items: {{ section.settings.card_vertical_alignment }};
    {% endif %}
  }

  @media only screen and (min-width: 801px) {
    #spro-{{ section.id }} .spro-container .spro-grid {
      display: grid;
      {% if section.settings.columns == 'auto' %}
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
      {% else %}
        grid-template-columns: {{ section.settings.columns }};
      {% endif %}
    }
  }

  @media only screen and (max-width: 800px) {
    {% if section.settings.mobile_display == 'slideshow' %}
    #spro-{{ section.id }} .spro-container .spro-grid {
      display: grid;
      grid-auto-columns: 100%;
      grid-auto-flow: column;
      width: 100%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
    }

    #spro-{{ section.id }} .spro-container .spro-grid::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
    }

    #spro-{{ section.id }} .spro-col {
      scroll-snap-align: start;
    }
    {% else %}
      #spro-{{ section.id }} .spro-container .spro-grid {
        display: grid;
        grid-template-columns: {{ section.settings.mobile_columns }};
      }
    {% endif %}
  }

  #spro-{{ section.id }} .spro-col {
    position: relative;
    padding: 0;
    border-radius: {{ section.settings.card_radius }}px;
    {% if section.settings.card_shadow %}box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);{% endif %}
    display: block;
    overflow: hidden;
    background-color: {{ section.settings.card_background_color }};
    transition: .25s all;
    text-decoration: none;
  }

  {% if section.settings.card_hover_animation %}
  #spro-{{ section.id }} .spro-col:hover {
    transform: translateY(-2px);
  }
  {% endif %}

  #spro-{{ section.id }} .spro-img {
    position: relative;
    aspect-ratio: {{ section.settings.media_aspect_ratio }};
    width: 100%;
    object-fit: cover;
    z-index: 1;
    display: block;
    margin: 0;
    padding: 0;
  }

  @media only screen and (max-width: 800px) {
    #spro-{{ section.id }} .spro-img {
      aspect-ratio: {{ section.settings.media_aspect_ratio_mobile }};
    }
  }

  #spro-{{ section.id }} .spro-content {
    display: grid;
    grid-template-columns: 2fr auto;
    gap: 5px;
    z-index: 3;
    padding: {{ section.settings.card_padding }}px;
    align-items: center;
  }

  #spro-{{ section.id }} .spro-content h3 {
    margin: 0 0 {{ section.settings.card_element_spacing}}px 0;
    padding: 0;
    color: {{ section.settings.card_text_color }};
    font-size: {{ section.settings.card_headline_size }}px;
    text-align: left;
  }


  #spro-{{ section.id }} .spro-content p {
    font-size: {{ section.settings.card_text_size }}px;
    color: {{ section.settings.card_text_color }};
    margin: 0;
    padding: 0;
    text-align: left;
  }

  #spro-{{ section.id }} .spro-content div.spro-button {
    text-align: right;
  }

  #spro-{{ section.id }} .spro-container a.spro-cta {
    display: inline-block;
    padding: {{ section.settings.button_padding_tb }}px {{ section.settings.button_padding_lr }}px;
    background-image: {{section.settings.button_background_color}};
    border-radius: {{ section.settings.button_border_radius }}px;
    color: {{ section.settings.button_text_color }};
    font-size: {{ section.settings.button_text_size }}px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    transition: .25s all;
    border: {{ section.settings.button_border_size }}px solid {{ section.settings.button_border_color }};
  }

  {% if section.settings.mobile_display == 'slideshow' %}

  /* snap links */
  #spro-{{ section.id }} .spro-snap-links {
    margin: 5px 0 0 0;
    padding: 0;
  }

  #spro-snap-links-{{ section.id }} a {
      display: inline-block;
      background-color: {{ section.settings.indicator_color }};
      width: 12px;
      height: 12px;
      border-radius: 50%;
      text-indent: -9999px;
      padding: 0;
      margin: 0 2.5px; 
      cursor: pointer;
      opacity: 0.25;
  }

  #spro-snap-links-{{ section.id }} a[active] {
      background-color: {{ section.settings.indicator_color }};
      opacity: 1;
  }

  #spro-{{ section.id }}[autoplaying] #spro-snap-links-{{ section.id }} a[active] {
      background: {{ section.settings.progress_background_color }};
      opacity: 1;
      width: 25px;
      transition: all .5s;
      border-radius: 10px;
      overflow: hidden;
  }

  #spro-{{ section.id }}[autoplaying] #spro-snap-links-{{ section.id }} a[active]>span {
    display: block;
    background: {{ section.settings.progress_foreground_color }};
    height: 100%;
    animation: slpProgressBar {{ section.settings.autoplay_time }}ms ease-in-out;
    animation-fill-mode: both;
  }


  #spro-snap-links-{{ section.id }} {
    display: none;
  }

  @media only screen and (max-width: 800px) {

    #spro-snap-links-{{ section.id }} {
      display: block;
      text-align: center;
    }
  }
  {% endif %}

  {%- endcapture -%} 

  {%- liquid
    assign chunks = sp_content | strip_newlines | split: ' ' | join: ' ' | split: '*/'
    for chunk in chunks
      assign mini = chunk | split: '/*' | first | strip | replace: ': ', ':' | replace: '; ', ';' | replace: '} ', '}' | replace: '{ ', '{' | replace: ' {', '{' | replace: ';}', '}'
      echo mini
    endfor
  %}
</style>

<div id="spro-{{ section.id }}" class="spro-section spro-container-grid-section" spro-section>

<div class="spro-container" spro-container>

  <div class="spro-headline" spro-column>
      {% if section.settings.headline != '' %}<h2>{{ section.settings.headline }}</h2>{% endif %}
      {% if section.settings.text != '' %}<p>{{ section.settings.text }}</p>{% endif %}
  </div>

  <div id="spro-carousel-{{ section.id }}" class="spro-grid">

    {% for block in section.blocks %}
      {% if block.type == 'feature' %}
        <div
          class="spro-col"
          data-index="{{ forloop.index | minus: 1 }}"
          spro-column
          {% if section.settings.make_card_clickable %}
            onclick="event.stopPropagation(); {% if block.settings.open_in_blank %}window.open('{{ block.settings.cta_link }}','_blank'){% else %}window.location.href='{{ block.settings.cta_link }}'{% endif %}"
            style="cursor:pointer;"
          {% endif %}
        >
          {% if block.settings.background_image %}
          <img loading="lazy" class="spro-img"
            alt="{{ block.settings.background_image.alt }}"
            src="{{ block.settings.background_image | image_url: width: 600 }}"
            srcset="{{ block.settings.background_image| image_url: width: 600 }} 600w,
              {{ block.settings.background_image | image_url: width: 800 }} 800w,
              {{ block.settings.background_image | image_url: width: 1000 }} 1000w,
              {{ block.settings.background_image | image_url: width: 1100 }} 1100w">
          {% else %}
            <img loading="lazy" class="spro-img" src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 500 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect x='2' y='2' width='496' height='496' fill='%23D8D8D8' stroke='%23D8D8D8' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E">
          {% endif %}
          <div class="spro-content">
            <div>
            {% if block.settings.headline != '' %}<h3>{{ block.settings.headline }}</h3>{% endif %}

            {% if section.settings.show_description == true %}
              {% if block.settings.description != '' %}<p>{{ block.settings.description }}</p>{% endif %}
            {% endif %}
            </div>
            {% if block.settings.cta != '' and section.settings.hide_button == false %}<div class="spro-button"><a class="spro-cta" href="{{ block.settings.cta_link }}" {% if block.settings.open_in_blank %}target="_blank"{% endif %}>{{ block.settings.cta }}</a></div>{% endif %}
          </div>
        </div>
        <!-- /.spro-col -->
      {% elsif block.type == 'product' %}
          {% assign product = block.settings.product %}

          
          <div
            class="spro-col"
            data-index="{{ forloop.index | minus: 1 }}"
            spro-column
            {% if section.settings.make_card_clickable %}
              onclick="event.stopPropagation(); {% if block.settings.open_in_blank %}window.open('{{ product.url }}','_blank'){% else %}window.location.href='{{ product.url }}'{% endif %}"
              style="cursor:pointer;"
            {% endif %}
          >

          {% if product.featured_media %}
          <img loading="lazy" class="spro-img"
            alt="{{ product.featured_media.alt }}"
            src="{{ product.featured_media | image_url: width: 600 }}"
            srcset="{{ product.featured_media | image_url: width: 600 }} 600w,
              {{ product.featured_media | image_url: width: 800 }} 800w,
              {{ product.featured_media | image_url: width: 1000 }} 1000w,
              {{ product.featured_media | image_url: width: 1100 }} 1100w">
          {% else %}
            <img loading="lazy" class="spro-img" src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 500 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect x='2' y='2' width='496' height='496' fill='%23D8D8D8' stroke='%23D8D8D8' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E">
          {% endif %}
          <div class="spro-content">
            <div>
            {% if block.settings.headline != '' %}<h3>{{ product.title }}</h3>{% endif %}
            {% if section.settings.show_description == true %}
              {% assign max_chars  = section.settings.truncate_length | default: 140 %}
              {% assign clean_desc = product.description
                | strip_html
                | strip_newlines
                | replace: '&nbsp;', ' '
                | strip %}

              {% if section.settings.truncate_description == true %}
                {% assign clean_desc = clean_desc | truncate: max_chars, '...' %}
              {% endif %}

              {% if block.settings.description != '' %}<p>{% if clean_desc != blank %}
                {{ clean_desc }}
              {% endif %}</p>{% endif %}
            {% endif %}
            </div>
            {% if block.settings.cta != '' and section.settings.hide_button == false %}<div class="spro-button"><a class="spro-cta" href="{{ product.url }}" {% if block.settings.open_in_blank %}target="_blank"{% endif %}>{{ block.settings.cta }}</a></div>{% endif %}
          </div>
        </div>
        <!-- /.spro-col -->
      {% endif %}

    {% endfor %}

  </div>
  <!-- /.spro-grid -->

  {% if section.settings.mobile_display == 'slideshow' %}
  <div id="spro-snap-links-{{ section.id }}" class="spro-snap-links">
    {% for block in section.blocks %}
      <a data-index="{{ forloop.index | minus: 1 }}"><span></span></a>
    {% endfor %}
  </div>
  {% endif %}
  
</div>
<!-- /.spro-container -->

</div>
<!-- /.spro-section -->

{% if section.settings.mobile_display == 'slideshow' %}
<script>

  // mobile only
  if(window.innerWidth <= 800 ) {

    // create new Sections Pro slideshow
    class SpSlideShow_{{ short_id }} {

      constructor(section, carousel, enable_autoplay, autoplay_time, slides, links) {

        console.log(`[spslideshow] setup`);      

        this.section = section;
        this.carousel = carousel;
        this.slides = slides;
        this.links = links;
        this.index = 0;
        this.interval = null;
        this.observer = null;
        this.direction = 'up';
        this.autoplay_time = autoplay_time;
        this.autoplay_is_setup = false;

        // enable autoplay
        if(enable_autoplay) {
          console.log(`[spslideshow] enable auotplay`);  
          this.setupAutoplayObserver();
          this.setupClearEvents();
        }

        // setup links and observer
        this.setupLinks();
        this.setupObserver();
      }

      // don't start autoplay until the slideshow is visible
      setupAutoplayObserver() {
        var context = this;

        // use intersection observer to render dots
        this.observer = new IntersectionObserver(function(entries, observer) {

          // Loop over the entries
          entries.forEach(entry => {
            // If the element is visible
            if (entry.isIntersecting) {
              if(context.autoplay_is_setup == false) {
                context.setupAutoplay();
                context.autoplay_is_setup = true;
              }
            }
          });

        }, {
          threshold: 0.5
        });

        for (var i = 0; i < this.slides.length; i++) {
          this.observer.observe(this.carousel);
        }
      }

      // setup autoplay
      setupAutoplay() {

        var autoplay_time = this.autoplay_time;

        console.log(`[spslideshow] setup autoplay time = ${autoplay_time}`);  

        var context = this;
        context.section.setAttribute('autoplaying', '');

        this.interval = setInterval(function() {

          // handle next
          if(context.direction == 'up') context.index++;
          else context.index--;

          // rewind
          if(context.index == context.slides.length) {
            context.direction = 'down';
            context.index-=2;
          }
          else if(context.index < 0) {
            context.direction = 'up';
            context.index+=2;
          }

          // get slide
          var slide = context.slides[context.index];

          if(slide) {
            context.carousel.scroll({
              behavior: 'smooth',
              left: slide.offsetLeft
            });
          }
          else {
            clearInterval(context.interval);
          }

        }, autoplay_time);
      }

      // setup events
      setupClearEvents() {
        var context = this;

        this.carousel.addEventListener('mousedown', (e) => {
          context.clearInterval();
        });

        this.carousel.addEventListener('touchstart', (e) => {
          context.clearInterval();
        });
      }

      // cancel the interval timer
      clearInterval() {
        if(this.interval) clearInterval(this.interval);
        this.section.removeAttribute('autoplaying');
      }

      // setup navigation links
      setupLinks() {

        var context = this;

        for(var x=0; x<this.links.length; x++) {

          // handle click of links
          this.links[x].addEventListener('click', (e) => {

              // clear interval
              context.clearInterval();

              var index = parseInt(e.target.getAttribute(`data-index`));
              var slide = null;

              for(x=0; x<context.slides.length; x++) {
                var i = parseInt(context.slides[x].getAttribute('data-index')) || 0;
                if(i==index) slide = context.slides[x];
              }

              if(slide) {
                context.carousel.scroll({
                  behavior: 'smooth',
                  left: slide.offsetLeft
                });
              }

              e.preventDefault();
          });
        }

      }

      // set active link
      setActiveLink(index) {
        for(var y=0; y<this.links.length; y++) this.links[y].removeAttribute('active');

        // set all active
        for(var y=0; y<this.links.length; y++) {
          if(this.links[y].hasAttribute('data-index')) {
            var i = parseInt(this.links[y].getAttribute('data-index'));
            if(i == index) this.links[y].setAttribute('active', '');
          }
        }

      }

      // setup observer
      setupObserver() {

        var context = this;

        // use intersection observer to render dots
        this.observer = new IntersectionObserver(function(entries, observer) {

          // Loop over the entries
          entries.forEach(entry => {
            // If the element is visible
            if (entry.isIntersecting) {
              var index = parseInt(entry.target.getAttribute('data-index')) || 0;
              context.setActiveLink(index);
            }
          });

        }, {
          root: context.carousel, threshold: 0.5
        });

        for (var i = 0; i < this.slides.length; i++) {
          this.observer.observe(this.slides[i]);
        }

      }

    }
    // end SpSlideShow class

    var section_{{ short_id }} = document.querySelector('#spro-{{ section.id }}');
    var carousel_{{ short_id }} = document.querySelector(`#spro-carousel-{{ section.id }}`);
    var slides_{{ short_id }} = section_{{ short_id }}.querySelectorAll('.spro-col');
    var links_{{ short_id }} = section_{{ short_id }}.querySelectorAll('.spro-snap-links a');
    
    new SpSlideShow_{{ short_id }}(section_{{ short_id }}, carousel_{{ short_id }}, {{ section.settings.enable_autoplay }}, {{ section.settings.autoplay_time }}, slides_{{ short_id }}, links_{{ short_id }});
  
  }
</script>
{% endif %}

{% schema %}
  {
    "name": "SS - Card Grid",
    "settings": [
      
    {
        "type": "header",
        "content": "Font",
        "info": "Set the fonts for your section. If overriding, the theme fonts will be ignored."
    },
    {
        "type": "checkbox",
        "id": "override_fonts",
        "label": "Override theme fonts",
        "default": false
    },
    {
        "type": "font_picker",
        "id": "headline_font",
        "label": "Headline Font",
        "default": "sans-serif",
        "visible_if": "{{ section.settings.override_fonts == true }}"
    },
    {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font",
        "default": "sans-serif",
        "visible_if": "{{ section.settings.override_fonts == true }}"
    },
    {
        "type": "header",
        "content": "Text",
        "info": "Set the text for your section. If overriding, the theme text styles will be ignored."
    },
    {
        "type": "checkbox",
        "id": "override_text_sizes",
        "label": "Override text sizes",
        "default": false
    },
    {
        "type": "range",
        "id": "text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Text Size",
        "default": 15,
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "range",
        "id": "mobile_text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Mobile Text Size",
        "default": 15,
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "select",
        "id": "text_line_height",
        "label": "Text Line Height",
        "options": [
            {
                "value": "0.75",
                "label": "0.75"
            },
            {
                "value": "1.0",
                "label": "1.0"
            },
            {
                "value": "1.1",
                "label": "1.1"
            },
            {
                "value": "1.2",
                "label": "1.2"
            },
            {
                "value": "1.3",
                "label": "1.3"
            },
            {
                "value": "1.4",
                "label": "1.4"
            },
            {
                "value": "1.5",
                "label": "1.5"
            },
            {
                "value": "1.6",
                "label": "1.6"
            },
            {
                "value": "1.7",
                "label": "1.7"
            },
            {
                "value": "1.8",
                "label": "1.8"
            },
            {
                "value": "1.9",
                "label": "1.9"
            },
            {
                "value": "2.0",
                "label": "2.0"
            },
            {
                "value": "inherit",
                "label": "Inherit"
            }
        ],
        "default": "inherit",
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "range",
        "id": "headline_size",
        "min": 10,
        "max": 75,
        "step": 1,
        "unit": "px",
        "label": "Headline Size",
        "default": 40,
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "range",
        "id": "mobile_headline_size",
        "min": 10,
        "max": 75,
        "step": 1,
        "unit": "px",
        "label": "Mobile Headline Size",
        "default": 40,
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "select",
        "id": "headline_line_height",
        "label": "Headline Line Height",
        "options": [
            {
                "value": "0.75",
                "label": "0.75"
            },
            {
                "value": "1.0",
                "label": "1.0"
            },
            {
                "value": "1.1",
                "label": "1.1"
            },
            {
                "value": "1.2",
                "label": "1.2"
            },
            {
                "value": "1.3",
                "label": "1.3"
            },
            {
                "value": "1.4",
                "label": "1.4"
            },
            {
                "value": "1.5",
                "label": "1.5"
            },
            {
                "value": "1.6",
                "label": "1.6"
            },
            {
                "value": "1.7",
                "label": "1.7"
            },
            {
                "value": "1.8",
                "label": "1.8"
            },
            {
                "value": "1.9",
                "label": "1.9"
            },
            {
                "value": "2.0",
                "label": "2.0"
            },
            {
                "value": "inherit",
                "label": "Inherit"
            }
        ],
        "default": "inherit",
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "checkbox",
        "id": "override_text_colors",
        "label": "Override text colors",
        "default": false
    },
    {
        "type": "color",
        "id": "text_color",
        "default": "#111",
        "label": "Text Color",
        "visible_if": "{{ section.settings.override_text_colors == true }}"
    },
    {
        "type": "color",
        "id": "link_color",
        "default": "#005bd3",
        "label": "Link Color",
        "visible_if": "{{ section.settings.override_text_colors == true }}"
    },
    {
        "type": "header",
        "content": "Section Design",
        "info": "Set the design for the section"
    },
    {
        "type": "select",
        "id": "show_on_device",
        "label": "Show Section",
        "options": [
            {
                "value": "all",
                "label": "All Devices"
            },
            {
                "value": "mobile",
                "label": "Mobile Only"
            },
            {
                "value": "desktop",
                "label": "Desktop Only"
            }
        ],
        "default": "all"
    },
    {
        "type": "color_background",
        "id": "section_background_color",
        "default": "linear-gradient(127deg, rgba(241, 246, 251, 1) 11%, rgba(241, 246, 251, 1) 81%)",
        "label": "Background Color"
    },
    {
        "type": "paragraph",
        "content": "Set the Background Image (optional)"
    },
    {
        "type": "image_picker",
        "id": "section_background_image",
        "label": "Background Image"
    },
    {
        "type": "color",
        "id": "section_background_image_color",
        "label": "Background Image Color"
    },
    {
        "type": "select",
        "id": "section_background_size",
        "default": "cover",
        "label": "Background Image Size",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ]
    },
    {
        "type": "paragraph",
        "content": "Set the Mobile Background Image (optional)"
    },
    {
        "type": "image_picker",
        "id": "mobile_section_background_image",
        "label": "Mobile Background Image"
    },
    {
        "type": "color",
        "id": "mobile_section_background_image_color",
        "label": "Mobile Background Image Color"
    },
    {
        "type": "select",
        "id": "mobile_section_background_size",
        "default": "cover",
        "label": "Mobile Background Image Size",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ]
    },
    {
        "type": "paragraph",
        "content": "Set the padding for the section"
    },
    {
        "type": "number",
        "id": "section_padding_top_bottom",
        "default": 25,
        "label": "Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "mobile_section_padding_top_bottom",
        "default": 25,
        "label": "Mobile Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "section_padding_left_right",
        "default": 25,
        "label": "Padding Left/Right"
    },
    {
        "type": "number",
        "id": "mobile_section_padding_left_right",
        "default": 25,
        "label": "Mobile Padding Left/Right"
    },
    {
        "type": "header",
        "content": "Container Design",
        "info": "Set the design for your inner container"
    },
    {
        "type": "color_background",
        "id": "container_background_color",
        "label": "Background Color"
    },
    {
        "type": "number",
        "id": "container_max_width",
        "default": 1000,
        "label": "Max Width"
    },
    {
        "type": "number",
        "id": "container_padding_top_bottom",
        "default": 10,
        "label": "Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "mobile_container_padding_top_bottom",
        "default": 10,
        "label": "Mobile Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "container_padding_left_right",
        "default": 10,
        "label": "Padding Left/Right"
    },
    {
        "type": "number",
        "id": "mobile_container_padding_left_right",
        "default": 10,
        "label": "Mobile Padding Left/Right"
    },
    {
        "type": "number",
        "id": "element_spacing",
        "default": 15,
        "label": "Spacing Between Elements"
    },
    {
        "type": "range",
        "id": "container_radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Round Borders on Container",
        "default": 0
    },
    {
        "type": "checkbox",
        "id": "container_shadow",
        "default": false,
        "label": "Subtle Shadow on Container"
    },
    {
        "type": "range",
        "id": "container_border_size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border Size on Container",
        "default": 0
    },
    {
        "type": "color",
        "id": "container_border_color",
        "default": "#888",
        "label": "Border Color on Container"
    }
,
      {
        "type": "header",
        "content": "Grid Design",
        "info": "Set the design for the feature grid"
      },
      {
        "type": "select",
        "id": "columns",
        "label": "Columns",
        "options": [
          {
            "value": "1fr",
            "label": "1 column"
          },
          {
            "value": "1fr 1fr",
            "label": "2 columns"
          },
          {
            "value": "1fr 1fr 1fr",
            "label": "3 columns"
          },
          {
            "value": "auto",
            "label": "Auto"
          }
        ],
        "default": "auto"
      },
      {
        "type": "number",
        "id": "grid_gap",
        "default": 20,
        "label": "Gap Between Cards"
      },
      {
        "type": "header",
        "content": "Card Design",
        "info": "Set the design for the feature section"
      },
      {
        "type": "checkbox",
        "id": "card_uniform_height",
        "default": true,
        "label": "Uniform height?"
      },
      {
        "type": "select",
        "id": "card_vertical_alignment",
        "label": "Vertical Alignment",
         "options": [
          {
            "value": "start",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "end",
            "label": "Bottom"
          }
        ],
        "default": "center",
        "visible_if": "{{ section.settings.card_uniform_height == false }}"
      },
      {
        "type": "checkbox",
        "id": "make_card_clickable",
        "label": "Make Entire Card Clickable?",
        "default": false
      },
       {
        "type": "checkbox",
        "id": "hide_button",
        "label": "Hide button?",
        "default": false
      },
      {
        "type": "number",
        "id": "card_element_spacing",
        "default": 5,
        "label": "Spacing between Elements"
      },
      {
        "type": "number",
        "id": "card_padding",
        "default": 10,
        "label": "Card Padding"
      },
      {
        "type": "range",
        "id": "card_text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Card Text Size",
        "default": 13
      },
      {
        "type": "range",
        "id": "card_headline_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Card Headline Size",
        "default": 18
      },
      {
        "type": "color",
        "id": "card_background_color",
        "default": "#fff",
        "label": "Card Background Color"
      },
      {
        "type": "color",
        "id": "card_text_color",
        "default": "#111",
        "label": "Card Text Color"
      },
      {
        "type": "range",
        "id": "card_radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Round Borders on Card",
        "default": 5
      },
      {
        "type": "checkbox",
        "id": "card_shadow",
        "default": true,
        "label": "Subtle Shadow on Card"
      },
      {
        "type": "checkbox",
        "id": "card_hover_animation",
        "default": true,
        "label": "Show Hover Animation on Card"
      },
      {
        "type": "checkbox",
        "id": "show_description",
        "default": true,
        "label": "Show the description?"
      },
      {
        "type": "checkbox",
        "id": "truncate_description",
        "default": true,
        "label": "Truncate description?"
      },
      {
        "type": "number",
        "id": "truncate_length",
        "default": 50,
        "label": "Truncate Length",
        "visible_if": "{{ section.settings.truncate_description == true }}"
      },
      {
        "type": "header",
        "content": "Button Style",
        "info": "Set the look and feel of the button"
      },
      {
        "type": "number",
        "id": "button_padding_tb",
        "default": 5,
        "label": "Padding Top/Bottom"
      },
      {
        "type": "number",
        "id": "button_padding_lr",
        "default": 5,
        "label": "Padding Left/Right"
      },
      {
        "type": "range",
        "id": "button_border_radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Round Borders on Button",
        "default": 5
      },
      {
        "type": "range",
        "id": "button_border_size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border Size on Button",
        "default": 0
      },
      {
        "type": "color",
        "id": "button_border_color",
        "default": "#888",
        "label": "Border Color on Button"
      },
      {
        "type": "color_background",
        "id": "button_background_color",
        "default": "linear-gradient(164deg, #111 0%, #333 100%)",
        "label": "Button Background Color"
      },
      {
        "type": "color",
        "id": "button_text_color",
        "default": "#fff",
        "label": "Button Text Color"
      },

      {
        "type": "range",
        "id": "button_text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Button Text Size",
        "default": 13
      },
      {
        "type": "header",
        "content": "Media",
        "info": "Set the design for your media"
      },
      {
        "type": "select",
        "id": "media_aspect_ratio",
        "label": "Media Aspect Ratio",
        "options": [
          {
            "value": "21 / 9",
            "label": "21:9"
          },
          {
            "value": "16 / 9",
            "label": "16:9"
          },
          {
            "value": "4 / 3",
            "label": "4:3"
          },
          {
            "value": "1 / 1",
            "label": "1:1"
          },
          {
            "value": "3 / 4",
            "label": "3:4"
          },
          {
            "value": "9 / 16",
            "label": "9:16"
          },
          {
            "value": "auto",
            "label": "Auto"
          }
        ],
        "default": "4 / 3"
      },
      {
        "type": "select",
        "id": "media_aspect_ratio_mobile",
        "label": "Media Aspect Ratio (mobile)",
        "options": [
          {
            "value": "21 / 9",
            "label": "21:9"
          },
          {
            "value": "16 / 9",
            "label": "16:9"
          },
          {
            "value": "4 / 3",
            "label": "4:3"
          },
          {
            "value": "1 / 1",
            "label": "1:1"
          },
          {
            "value": "9 / 16",
            "label": "9:16"
          },
          {
            "value": "auto",
            "label": "Auto"
          }
        ],
        "default": "4 / 3"
      },
      {
        "type": "header",
        "content": "Mobile Display",
        "info": "Set the mobile display"
      },
      {
        "type": "select",
        "id": "mobile_display",
        "label": "Mobile Display",
        "options": [
          {
            "value": "slideshow",
            "label": "Slideshow"
          },
          {
            "value": "stacked",
            "label": "Stacked"
          }
        ],
        "default": "slideshow"
      },
      {
        "type": "select",
        "id": "mobile_columns",
        "label": "Columns (when stacked)",
        "options": [
          {
            "value": "1fr",
            "label": "1 column"
          },
          {
            "value": "1fr 1fr",
            "label": "2 columns"
          },
          {
            "value": "1fr 1fr 1fr",
            "label": "3 columns"
          }
        ],
        "default": "1fr"
      },
      {
        "type": "color_background",
        "id": "progress_background_color",
        "default": "linear-gradient(177deg, rgba(17, 17, 17, .25) 3%, rgba(17, 17, 17, 0.25) 100%)",
        "label": "Slideshow Progress Background Color"
      },
      {
        "type": "color_background",
        "id": "progress_foreground_color",
        "default": "linear-gradient(177deg, rgba(17, 17, 17, 1) 3%, rgba(17, 17, 17, 1) 100%)",
        "label": "Slideshow Progress Foreground Color"
      },
      {
        "type": "color",
        "id": "indicator_color",
        "default": "#111",
        "label": "Slideshow Indicator Color"
      },
      {
        "type": "checkbox",
        "id": "enable_autoplay",
        "default": true,
        "label": "Enable Autoplay?"
      },
      {
        "type": "select",
        "id": "autoplay_time",
        "label": "Autoplay Time",
        "options": [
          {
            "value": "10000",
            "label": "Slowest (10s)"
          },
          {
            "value": "7500",
            "label": "Slower (7.5s)"
          },
          {
            "value": "5000",
            "label": "Normal (5s)"
          },
          {
            "value": "3000",
            "label": "Faster (3s)"
          },
          {
            "value": "2000",
            "label": "Fastest (2s)"
          }
        ],
        "default": "5000"
      },
      {
        "type": "header",
        "content": "Headline",
        "info": "Set text for the headline"
      },
      {
        "type": "text_alignment",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "mobile_text_alignment",
        "label": "Mobile Text Alignment",
        "default": "center"
      },
      {
        "type": "inline_richtext",
        "id": "headline",
        "label": "Headline",
        "default": "<b>Check out our Products</b>"
      },
      {
        "type": "inline_richtext",
        "id": "text",
        "label": "Text",
        "default": "Get answers to your questions about our products and services."
      },
      {
        "type": "number",
        "id": "headline_spacing",
        "default": 15,
        "label": "Spacing between Headline and Features"
      }
    ],
  "blocks": [
      {
       "name": "Feature",
       "type": "feature",
       "settings": [
         
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
          },
          {
            "type": "inline_richtext",
            "id": "headline",
            "label": "Headline",
            "default": "<b>Feature Headline</b>"
          },
          {
            "type": "inline_richtext",
            "id": "description",
            "label": "Description",
            "default": "This is a sample description"
          },
          {
            "type": "inline_richtext",
            "id": "cta",
            "default": "Shop Now",
            "label": "Call to Action"
          },
          {
            "type": "url",
            "id": "cta_link",
            "label": "Call to Action Link"
          },
          {
            "type": "checkbox",
            "id": "open_in_blank",
            "label": "Open in New Tab",
            "default": false
          }
       ]
      },
      {
        "name": "Product",
        "type": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "inline_richtext",
            "id": "cta",
            "default": "Shop Now",
            "label": "Call to Action"
          },
          {
            "type": "checkbox",
            "id": "open_in_blank",
            "label": "Open in New Tab",
            "default": false
          }
        ]
      }
    ],
  "presets": [
      {
        "name": "SS - Card Grid",
        "blocks": [
          {
            "type": "feature"
          },
          {
            "type": "feature"
          },
          {
            "type": "feature"
          }
        ]
      }
    ]
  }
{% endschema %}